* {
    font-family: 'Poppins', sans-serif;
}

/* Background */

/* navbar */
.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbarName {
    margin-left: 15px;
}


.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #ccc;
}

.dropdown-menu {
    background-color: #84c148;
    border-color: #84c148;
}

.dropdown-item {
    color: #fff;
}

.dropdown-item:hover {
    background-color: #178325;
    color: #fff;
}

.navbar-brand img {
    max-height: 90px;
}

.accountName {
    color: #fff;
    width: 140%;
}

/* SideBar */

.nav-link {
    color: #fff;
    margin-left: 15px;
    position: relative;
}

.nav-link:hover {
    color: #fff; /* Change the text color on hover */
    text-decoration: none; /* Remove underline on hover */
    margin-left: -10px;
    padding-left: 20px;
    border-left: solid 2px #fff;
    transition: 0.6s;
}

:root {
    --offcanvas-width: 270px;
    --topNavbarHeight: 121px;
}

.sidebar-nav {
    width: var(--offcanvas-width);
}

.sidebar-link {
    display: flex;
    align-items: center;
}

.sidebar-link .right-icon {
    display: inline-flex;
}

.sidebar-link[aria-expanded="true"] .right-icon {
    transform: rotate(180deg);
}

@media (min-width: 992px) {
    body {
        overflow: auto !important;
    }

    main {
        margin-left: var(--offcanvas-width);
    }

    /* this is to remove the backdrop */
    .offcanvas-backdrop::before {
        display: none;
    }

    .sidebar-nav {
        -webkit-transform: none;
        transform: none;
        visibility: visible !important;
        height: calc(100% - var(--topNavbarHeight));
        top: var(--topNavbarHeight);
    }
}

.offcanvas-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.offcanvas {
    background-color: #fff;
}

/* Main */

.main {
    max-width: 100%;
}

.mainP {
    margin-top: -60px;
}

.main p {
    margin-left: -10px;
}

.contents {
    margin-top: 180px;
}

/* Stripes */

.stripe {
    height: 15px;
    max-width: 100.8%;
}

.stripes {
    margin-top: 120px;
    position: fixed;
    top: 0;
    width: 100%;
}

/* Profile Page */

.mainProfileImage img {
    width: 25%;
    height: 25%;
    border: 4px solid #008ec2;
}

.editProfile {
    margin-top: 100px;
}

/* Profile Content */

.profile-content {
    padding: 100px;
    margin-top: -50px;
}
.profile-content .form-group label {
    font-weight: bold;
}
.profile-content .form-group .form-control {
    border-radius: 0;
}

.nowrap {
    white-space: nowrap;
}

.brandDescriptionBox,
.brandInformationBox {
    border-radius: 10px;
}

.brandInformationBox h3 {
    margin-left: 10px;
    margin-right: 10px;
}

.brandInformationBox1,
.brandInformationBox2,
.brandInformationBox3 {
    border-radius: 5px;
    background-color: #ffffff;
    color: #fff;
    height: 40px;
    margin-top: -18px;
}

.brandInformationP1,
.brandInformationP2,
.brandInformationP3 {
    padding-left: 10px;
}

.brandInformationBox3 {
    margin-bottom: 20px;
}

.brandDescriptionBox1 {
    border-radius: 5px;
    background-color: #ffffff;
    color: #fff;
    height: 180px;
    margin-top: -18px;
    margin-bottom: 20px;

}

/* ROC COLOR */

.blue {
    background-color: #008ec2;
}

.white {
    background-color: #ffffff;
}

.orange {
    background-color: #f38c1e;
}

.red {
    background-color: #d23426;
}

.green {
    background-color: #84c148;
}

.twhite {
    color: #ffffff;
}

.tblack {
    color: #000000;
}

.tgray {
    color: #534B4B;
}

.tblue {
    color: #008ec2;
}

.tgreen {
    color: #84c148;
}

.borderleft {
    border-left: white 5px solid;
}

.borderbottom {
    border-bottom: rgb(255, 255, 255) 5px solid;
}

.borderbottom2 {
    border-bottom: rgb(255, 255, 255) 2px solid;
}

.vh10 {
    height: 2vh;
}

.neg10 {
    margin-top: -10px;
}

.neg20 {
    margin-top: -20px;
}

.maxwidth {
    max-width: 100%;
}

.center {
    text-align: center;
}