    * {
        font-family: 'Poppins', sans-serif;
    }

    /* navbar */

    .navbar-dark .navbar-nav .nav-link {
        color: #fff;
    }

    .navbar-dark .navbar-nav .nav-link:hover {
        color: #ccc;
    }

    .dropdown-menu {
        background-color: #84c148;
        border-color: #84c148;
    }

    .dropdown-item {
        color: #fff;
    }

    .dropdown-item:hover {
        background-color: #178325;
        color: #fff;
    }

    .navbar-brand img {
        max-height: 90px;
    }

    .accountName {
        color: #fff;
        width: 140%;
    }

    /* SideBar */

    .nav-link {
        color: #fff;
        margin-left: 15px;
    }

    :root {
        --offcanvas-width: 270px;
        --topNavbarHeight: 121px;
    }

    .sidebar-nav {
        width: var(--offcanvas-width);
    }

    @media (min-width: 992px) {
        body {
            overflow: auto !important;
        }

        .offcanvas-backdrop::before {
            display: none !important;
        }

        .main {
            margin-left: var(--offcanvas-width);
        }

        .sidebar-nav {
            transform: none;
            visibility: visible !important;
            top: var(--topNavbarHeight);
            height: calc(100vh - var(--topNavbarHeight));
        }
    }

    /* Override the offcanvas backdrop color */
    .offcanvas-backdrop {
        background-color: rgba(0, 0, 0, 0.5);
        /* Adjust opacity as needed */
    }

    /* Override the offcanvas background color */
    .offcanvas {
        background-color: #fff;
        /* Set your desired background color */
    }

    /* Main */

    .main {
        max-width: 100%;
        margin-top: 20px;
    }

    .mainP {
        margin-top: -60px;
    }

    .main p {
        margin-left: -10px;
    }

    /* Stripes */

    .stripe {
        height: 15px;
        /* Adjust the height as needed */
        max-width: 100.8%;
    }

    /* Dashboard */

    .dashboardTopRow {
        margin-top: -20px;
        margin-left: -25px;
    }

    .dashboardBotRow {
        margin-top: -20px;
        margin-left: -25px;
    }

    /* Announcement */

    .announcementCol {
        padding-top: 20px;
        padding-bottom: 20px;
        border: solid 3px#008ec2;
        border-radius: 10px;
    }

    .announcementImage {
        margin-left: 50px;
    }

    .announcementName {
        margin-left: -5px;
        padding-top: 10px;
    }

    .announcementName-2 {
        font-size: 10px;
    }

    .announcementP p {
        font-size: 12px;
        padding-left: 20px;
    }

    /* Current Subscription */

    .currentSubCol {
        padding-top: 20px;
        padding-bottom: 20px;
        border: solid 3px#000000;
        border-radius: 10px;
    }

    .currentSubCol h4 {
        font-size: 25px;
        font-weight: 800;
    }

    .availedSubsTop h1 {
        font-size: 60px;
        font-weight: 800;
    }

    .availedSubsTop-2 {
        margin-top: -20px;
    }

    .availedSubsBot h3 {
        font-size: 30px;
        font-weight: 800;
    }

    .availedSubsBot-2 {
        margin-top: -15px;
    }

    .subsDate h6 {
        font-size: 18px;
        font-weight: 800;
    }

    .subsDateTop-2,
    .subsDateBot-2 {
        margin-top: -10px;
    }

    /* Active Subscription */

    .actSubs {
        padding-top: 30px;
        padding-bottom: 20px;
        border: solid 3px#000000;
        border-radius: 10px;
    }

    .actSubBox1,
    .actSubBox2,
    .actSubBox3,
    .actSubBox4 {
        border: solid 2px #000000;
        border-radius: 10px;
        padding: 20px;
        background-color: #ffffff;
    }

    .actSubsTop h3,
    .actSubsBot h3 {
        font-size: 28px;
        font-weight: 800;
        color: #008ec2;
    }

    .actSubsP {
        font-size: 12px;
        margin-top: -5px;
    }

    /* Recent Tasks */

    .recentTasks {
        padding-top: 30px;
        padding-bottom: 20px;
        border: solid 3px#008ec2;
        border-radius: 10px;
    }

    .recentTasksBox {
        border: solid 2px #000000;
        border-radius: 10px;
        padding: 20px;
    }



    /* ROC COLOR */

    .blue {
        background-color: #008ec2;
    }

    .orange {
        background-color: #f38c1e;
    }

    .red {
        background-color: #d23426;
    }

    .green {
        background-color: #84c148;
    }

    .twhite {
        color: #ffffff;
    }

    .tblack {
        color: #000000;
    }

    .tgray {
        color: #534B4B;
    }

    .ttaskgray {
        color: #666a70;
    }

    .ttaskblue {
        color: #008ec2;
    }

    .ttaskred {
        color: #d23426;
    }

    .ttaskgreen {
        color: #84c148;
    }

    .ttaskyellow {
        color: #fffb1a;
    }

    .ttaskorange {
        color: #f38c1e;
    }

    .borderleft {
        border-left: white 5px solid;
    }

    .borderbottom {
        border-bottom: rgb(255, 255, 255) 5px solid;
    }

    .vh10 {
        height: 2vh;
    }

    .neg10 {
        margin-top: -10px;
    }

    .neg20 {
        margin-top: -20px;
    }

    .maxwidth {
        max-width: 100%;
    }

    .center {
        text-align: center;
    }