* {
    font-family: 'Poppins', sans-serif;
}

/* navbar */
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #ccc;
}
.dropdown-menu {
    background-color: #84c148;
    border-color: #84c148;
}
.dropdown-item {
    color: #fff;
}
.dropdown-item:hover {
    background-color: #178325;
    color: #fff;
}
.navbar-brand img {
    max-height: 90px;
}
.accountName {
    color: #fff;
    width: 140%;
}

/* SideBar */
.nav-link {
    color: #fff;
    margin-left: 15px;
}

:root {
    --offcanvas-width: 270px;
    --topNavbarHeight: 121px;
}

.sidebar-nav {
    width: var(--offcanvas-width);
}

@media (min-width: 992px) {
    body {
        overflow: auto !important;
    }

    .offcanvas-backdrop::before {
        display: none;
    }

    .main {
        margin-left: var(--offcanvas-width);
    }

    .sidebar-nav {
        transform: none;
        position: fixed;
        visibility: visible !important;
        top: var(--topNavbarHeight);
        height: calc(100vh - var(--topNavbarHeight));
    }
}

/* Main */
.main {
    max-width: 100%;
    margin-top: 20px;
}

.mainP {
    margin-top: -60px;
}

.main p {
    margin-left: -10px;
}

/* Stripes */
.stripe {
    height: 15px;
    max-width: 100.8%;
}

/* Edit Profile */
.upload {
    width: 100%;
    position: relative;
    margin: auto;
    margin-top: 20px;
}
.upload img {
    width: 20%;
    height: 20%;
    border-radius: 50%;
    border: 6px solid #008EC2;
}
.upload .round {
    position: absolute;
    margin-top: -40px;
    margin-left: 54%;
    background: #84C148;
    width: 32px;
    height: 32px;
    line-height: 39px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
}
.upload .round input[type='file'] {
    position: absolute;
    transform: scale(2);
    opacity: 0;
}
.profileName {
    width: 50%;
    background: #008EC2;
    text-align: center;
    margin-top: 15px;
    margin-left: 25%;
}
.profileName h1 {
    background: #008EC2;
    align-items: center;
    margin-top: 7px;
    color: white;
    font-weight: 800;
}

/* Table Styles */
table {
    border-collapse: collapse;
    width: 100%;
}

td {
    border-bottom: 2px solid #008EC2;
    padding: 20px 20px 20px 20px;
}

td:first-child {
    color: #666;
    font-weight: bold;
    width: 35%;
}

td:last-child {
    color: #333;
}

.userInfo {
    margin-top: 50px;
}

.basicInfo {
    border-right: solid 2px #000000;
}

.biTable,
.ciTable {
    width: 90%;
    margin-left: 5%;
    border: 2px solid #008EC2;
}

/* ROC COLOR */
.blue {
    background-color: #008ec2;
}

.orange {
    background-color: #f38c1e;
}

.red {
    background-color: #d23426;
}

.green {
    background-color: #84c148;
}

.twhite {
    color: #ffffff;
}

.tblack {
    color: #008EC2;
    font-weight: bold;
}

.custom-heading {
    font-weight: bold !important;
}

.borderleft {
    border-left: white 5px solid;
}

.borderbottom {
    border-bottom: rgb(255, 255, 255) 5px solid;
}

.vh10 {
    height: 2vh;
}

.neg10 {
    margin-top: -10px;
}

.neg20 {
    margin-top: -20px;
}

.maxwidth {
    max-width: 100%;
}

.center {
    text-align: center;
}

.bg-image {
    background-image: url('../images/roc.png');
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.bg-image .form-overlay {
    position: relative;
    z-index: 1;
}

.bg-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 0;
}


.form-container input,
.form-container textarea,
.form-container button {
    border-radius: 10px;
    position: relative;
    z-index: 1;

}


.custom-input {
    border: 3px solid #008EC2; 
}
.custom-button {
    margin-left: 90%;
    border-radius: 10px;
    border: 2px solid #008EC2; 
    width: 10%;
}