    * {
        font-family: 'Poppins', sans-serif;
    }

    /* Background */

    /* navbar */
    .fixed-top {
        position: fixed;
        top: 0;
        width: 100%;
    }

    .navbar-dark .navbar-nav .nav-link {
        color: #fff;
    }

    .navbar-dark .navbar-nav .nav-link:hover {
        color: #ccc;
    }

    .dropdown-menu {
        background-color: #84c148;
        border-color: #84c148;
    }

    .dropdown-item {
        color: #fff;
    }

    .dropdown-item:hover {
        background-color: #178325;
        color: #fff;
    }

    .navbar-brand img {
        max-height: 90px;
    }

    .accountName {
        color: #fff;
        width: 140%;
    }

    /* Main */

    .main {
        max-width: 100%;
        margin-top: 20px;
        overflow-y: hidden;
    }

    .mainP {
        margin-top: -60px;
    }

    .main p {
        margin-left: -10px;
    }

    .contents {
        margin-top: 180px;
    }
    
    .stripes {
        margin-top: 120px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    }

    /* Stripes */

    .stripe {
        height: 15px;
        /* Adjust the height as needed */
        max-width: 100.8%;
    }

    /* Landing Page */

    .custom-button {
        background-color: #0099cc;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 1rem;
        border-radius: 20px;
        font-weight: bold;
    }
    .custom-button:hover {
        background-color: #007bb5;
    }

    /* Footer */

    .bi-bell {
        cursor: pointer;
        color: #008ec2;
    }
    .notification {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    .notification img {
        width: 40px;
        height: 40px;
        margin-right: 30px;
        margin-top: -50px;
    }
    .notification .text {
        flex-grow: 1;
    }

    .modal-content {
        background-color: #008ec2; /* Blue background */
        color: white; /* White text color */
    }
    .close {
        color: #534B4B;
        opacity: 1;
    }
    .close:hover, .close:focus {
        color: #84c148;
        text-decoration: none;
        opacity: 0.75;
    }
    
    .modal-dialog {
        position: absolute;
        right: 50px;
        top: 250px; /* Adjust this value based on the height of your header */
        margin: 0;
    }

    .notifdate {
        margin-top: -20px;
    }


    /* ROC COLOR */

    .blue {
        background-color: #008ec2;
    }

    .orange {
        background-color: #f38c1e;
    }

    .red {
        background-color: #d23426;
    }

    .green {
        background-color: #84c148;
    }

    .twhite {
        color: #ffffff;
    }

    .tblack {
        color: #000000;
    }

    .tgray {
        color: #534B4B;
    }

    .tblue {
        color: #008ec2;
    }

    .tgreen {
        color: #84c148;
    }

    .borderleft {
        border-left: white 5px solid;
    }

    .borderbottom {
        border-bottom: rgb(255, 255, 255) 5px solid;
    }

    .vh10 {
        height: 2vh;
    }

    .neg10 {
        margin-top: -10px;
    }

    .neg20 {
        margin-top: -20px;
    }

    .maxwidth {
        max-width: 100%;
    }

    .center {
        text-align: center;
    }